.countdown {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  width: 100%;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;

  @include media('<xs') {
    gap: 25px;
  }

  &__item {
    &:last-child {
      .countdown__number {
        &:after {
          display: none;
        }
      }
    }
  }

  &__number {
    position: relative;
    display: block;
    font-size: 40px;
    line-height: 44px;
    font-weight: 800;
    text-transform: uppercase;
    text-align: center;
    color: $white;

    @include media('<xs') {
      font-size: 35px;
      line-height: 39px;
    }

    &:after {
      content: ':';
      position: absolute;
      top: 0;
      left: calc(100% + 15px);
      font-size: inherit;
      line-height: inherit;
      font-weight: inherit;
      color: currentColor;

      @include media('<xs') {
        left: calc(100% + 7px);
      }
    }
  }

  &__caption {
    display: block;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: lowercase;
    text-align: center;
    color: $grey-200;
  }
}
