.icon {
  display: block;

  &.size-32 {
    width: 32px;
    height: 32px;
  }
  &.size-36 {
    width: 36px;
    height: 36px;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
  }
}
