.table {
  width: 100%;

  thead {

  }

  tbody {
    .table__tr {
      border-top: 1px solid #555;
    }
  }

  &__tr {

  }

  &__th, &__td {
    height: 55px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: $white;

    + .table__th, + .table__td {
      border-left: 1px solid #555;
    }
  }

  &__th {
    font-weight: 600;
  }

  &__td {
    font-weight: 400;
  }
}
